html {
    scroll-behavior: smooth;
}

.value .pc-only {
    display: block;
}

.value .sp-only {
    display: none;
}

@media screen and (max-width: 768px) {
    .value .pc-only {
        display: none;
    }

    .value .sp-only {
        display: block;
    }
}

.value .content-wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
}


.tree-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.svg-container {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    display: flex;
    justify-content: center;
}

svg {
    width: 100%;
    height: auto;
}

/* グローバルなセクションのコンテンツ */
.section-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 17%;
}


.section-content h2 {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: #d70c18;
}

.section-content p {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #333;
}


.section-content .top_tx_box {
    text-align: left;
    margin-bottom: 0;
}

.section-content .top_tx_box2 {
    margin-top: 1rem;
    text-align: left;
    margin-bottom: 40px;
}

.section-content .btn {
    display: inline-flex;
    /* アイコンとテキストを横並びにする */
    align-items: center;
    /* 縦位置を中央揃え */
    padding: 3px 30px;
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: #d70c18;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.section-content .btn::after {
    content: "";
    display: inline-block;
    width: 16px;
    /* 画像の幅 */
    height: 16px;
    /* 画像の高さ */
    background-image: url('/asset/img/icon_btn_value.svg');
    /* 画像のパスを指定 */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    /* テキストとの間隔 */
    transition: transform 0.3s ease-out;
}

.section-content .btn:hover::after {
    transform: translateX(5px);
}

.top_btn_wrp .btn {
    display: inline-flex;
    /* アイコンとテキストを横並びにする */
    align-items: center;
    /* 縦位置を中央揃え */
    padding: 3px 30px;
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: #d70c18;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.top_btn_wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.top_btn_wrp .btn::after {
    content: "";
    display: inline-block;
    width: 16px;
    /* 画像の幅 */
    height: 16px;
    /* 画像の高さ */
    background-image: url('/asset/img/icon_btn_value.svg');
    /* 画像のパスを指定 */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
    /* テキストとの間隔 */
    transform: rotate(-90deg);
    transition: transform 0.3s ease-out;
}

.top_btn_wrp .btn:hover::after {
    transform: rotate(-90deg) translateY(-5px);
}


.info-item1-1 {
    position: absolute;
    top: 125%;
    left: -70px;
}

.info-item1-2 {
    position: absolute;
    right: -110px;
    top: 150%;
}

.info-item1-3 {
    position: absolute;
    top: 218%;
    right: 80px;
}

.info-item img {
    max-height: 70px;
    /* 画像サイズの上限 */
    height: auto;
}

/* グローバルネットワークエリア */
.global-network {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 255%;

}

.global-network h3 {
    font-size: 2.8rem;
    font-weight: normal;
    color: #d70c18;
    margin-bottom: 0;
}

.global-network p {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.global-network img {
    position: absolute;
    top: 38%;
    left: 0;
    z-index: -2;
    transform: scale(1.5);
    transform-origin: center top;
}

.info-item .info_ttl {
    font-size: 1.8rem;
    color: #000;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.info-item .tx_red {
    color: #D70C18;
}

.info-item .info_tx {
    display: flex;
    align-items: flex-end;
    font-size: 2.5rem;
    font-weight: bold;
    color: #D70C18;
    margin-top: 5px;

}

/* セクション全体 */
#sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

}

/* コンテンツブロック */
.content-block {
    position: absolute;
    padding: 0px;
    text-align: left;
    width: 52%;
    margin-bottom: 50px;
}

.content-block img {
    height: 40px;
    width: auto;
}

.block2  img {
    height: 70px;
    width: auto;
}

/* 🔹 それぞれのブロックの位置（SVGの曲線に沿うよう調整） */
.block1 {
    top: 5%;
    right: 0%;
}

.block2 {
    top: 24%;
    left: 0;
}

.block3 {
    top: 46%;
    right: 0;
}

.block4 {
    top: 66%;
    left: 0;
}

.block5 {
    top: 82%;
    right: 25%;
}

/* 各ブロックのスタイル */
.content-block h3 {
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}

.content-block p {
    margin-top: 0;
    font-size: 2.4rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-block .last_message {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}

/* タグ */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

.item_colum {
    flex-direction: column;
}

.tags span {
    background-image: url(/asset/img/value/bg_txarea.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5px 10px;
    font-size: 1.2rem;
    width: 49%;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .section-content {
        top: 16%;

    }

    .section-content p {
        line-height: 1.4;
        margin-bottom: 20px;
    }


    .info-item1-1 {
        top: 117%;
        left: -9px;
    }

    .info-item1-2 {
        right: -75px;
        top: 136%;
    }

    .info-item1-3 {
        top: 206%;
        right: 40px;
    }

    .global-network {
        width: 90%;
        top: 240%;
    }

    .global-network img {
        top: 65%;
        transform: scale(1.3);
    }

    .content-block {
        position: absolute;
        padding: 0px;
        text-align: left;
        width: 50%;
        margin-bottom: 50px;
    }


    .content-block {
        position: absolute;
        padding: 0px;
        text-align: left;
        width: 50%;
        margin-bottom: 50px;
    }
    .block1 {
        top: 5%;
        right: 3%;
    }

    .block2 {
        top: 24%;
        left: 5%;
    }

    .block4 {
        top: 66%;
        left: 8%;
    }


} 

@media screen and (max-width: 768px) {

    .section-content .top_tx_box {
        margin-top: 90px;
        margin-bottom: 0;
    }

    .section-content .top_tx_box2 {
        margin-top: 1rem;
        margin-bottom: 80px;
    }
    .section-content {
        top: 19%;
    }
    .info-item .info_ttl {
        font-size: 1.5rem;
    }
    .svg-container {
        min-width: auto;
    }

    .info-item .info_tx {
        font-size: 2rem;
    }

    .info-item img {
        max-height: 50px;
    }

    .info-item1-1 {
        top: 155%;
        left: 20px;
    }

    .info-item1-2 {
        right: 15px;
        top: 170%;
    }

    .info-item1-3 {
        top: 215%;
        right: 83px;
    }

    .global-network {
        width: 90%;
        top: 240%;
    }

    .global-network img {
        top: 80%;
        transform: scale(1);
    }

    .content-block h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .content-block p {
        font-size: 1.5rem;
    }

    .tags span {
        font-size: 1rem; 
        padding: 1px 5px;
    }

    .block1 {
        top: 18%;
        right: 3%;
    }

    .block2 {
        top: 32%;
        left: 5%;
    }

    .block3 {
        top: 53%;
        right: 25px;
    }

    .block4 {
        top: 69%;
        left: 5%;
    }

    .block5 {
        top: 85%;
        right: 25%;
    }


    .content-block .last_message {
        font-size: 2.5rem;
    }

    #sec2 {
        min-height: auto;
        max-height :fit-content;
        padding-bottom: 40px;
    }

    svg {
        width: 100%;
        height: auto;
      
      }
      

}

@media screen and (max-width: 740px) {

    .info-item1-1 {
        top: 150%;
    }

    .info-item1-2 {
        top: 160%;
    }

    .info-item1-3 {
        top: 209%;
    }

    .global-network {
        top: 230%;
    }

    .info-item1-2 {
        top: 150%;
    }

    .info-item1-3 {
        top: 194%;
    }

    .global-network {
        top: 217%;
    }

    .global-network h3 {
        font-size: 2.5rem;
    }

    .global-network p {
        font-size: 1.8rem;
    }




}

@media screen and (max-width: 700px) {
    .info-item1-1 {
        top: 133%;
        left: 50px;
    }

    .global-network {
        top: 209%;
    }


}

@media screen and (max-width: 660px) {
    .info-item1-1 {
        top: 130%;

    }

    .info-item1-2 {
        top: 140%;
    }

    .info-item1-3 {
        top: 182%;
    }


    .global-network {
        top: 204%;
    }

}

@media screen and (max-width: 630px) {
    .section-content h2 {
        font-size: 2.3rem;
    }

    .section-content .top_tx_box {
        font-size: 1.5rem;
        margin-top: 100px;
    }

    .section-content .top_tx_box2 {
        font-size: 1.5rem;
    }

    .info-item .info_ttl {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .info-item img {
        height: 38px;
    }
    
    .info-item1-1 {
        top: 145%;
        left: -3%;
    }

    .info-item1-2 {
        top: 154%;
        right: -5%;
    }

    .info-item1-3 {
        top: 189%;
        right: 10%;
    }

    .global-network h3 {
        font-size: 1.5rem;
        text-align-last: left;
    }

    .global-network p {
        font-size: 1.5rem;
        text-align-last: left;
    }

    .global-network {
        top: 218%;
    }

    .content-block h3 {
        font-size: 1rem;
    }

    .content-block p {
        font-size: 0.9rem;
    }

    .content-block img {
        height: 25px;
    }

    .block2 img {
        height: 50px;
    }

    .tags span {
        font-size: 0.8rem;
        font-weight: normal;
    }

    .content-block .last_message {
        font-size: 1.5rem;
        font-weight: normal;
    }

}

@media screen and (max-width: 600px) {
    .info-item1-1 {
        top: 132%;
        left: -3%;
    }

    .info-item1-2 {
        top: 145%;
        right: 0%;
    }

    .info-item1-3 {
        top: 180%;
        right: 10%;
    }

    .global-network {
        top: 198%;
    }






}

@media screen and (max-width: 550px) {

    .info-item1-1 {
        top: 121%;
        left: 0%;
    }

    .info-item1-2 {
        top: 130%;
        right: 0%;
    }

    .info-item1-3 {
        top: 169%;
        right: 10%;
    }

    .global-network {
        top: 187%;
    }




}

@media screen and (max-width: 520px) {

    .info-item1-1 {
        top: 114%;
        left: 2%;
    }

    .info-item1-2 {
        top: 121%;
        right: 4%;
    }

    .info-item1-3 {
        top: 156%;
        right: 10%;
    }

    .global-network {
        top: 176%;
    }
}



@media screen and (max-width: 450px) {

    .section-content .top_tx_box {
        margin-top: 50px;
    }

    .section-content .top_tx_box2 {
        margin-bottom: 15px;
    }

    .value .content-wrapper {
        padding: 0px 10px;
    }

    .section-content h2 {
        font-size: 2.3rem;
        margin-bottom: 40px;
    }

    .section-content p {
        font-size: 1.2rem;
    }

    .section-content .btn {
        font-size: 1.5rem;
        padding: 10px 30px;
        font-weight: normal;
    }

    .info-item .info_ttl {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .info-item .info_tx {
        font-size: 1.1rem;
    }

    .info-item img {
        height: 28px;
    }

    .content-block .last_message {
        font-size: 1.5rem;
        font-weight: normal;
    }

    .content-block h3 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .content-block p {
        font-size: 0.9rem;
        font-weight: normal;
    }

    .tags span {
        font-size: 0.5rem;
        width: 48%;
        padding: 1px;
        gap: 3px;

    }

    .block5 {
        top: 80%;
        right: 25%;
    }

    .top_btn_wrp .btn {
        font-size: 1.5rem;
    }



    .section-content p {
        margin-top: 0;

    }

    .info-item1-1 {
        position: absolute;
        top: 107%;
        left: 55px;
    }

    .info-item1-2 {
        right: 53px;
        top: 115%;
    }

    .info-item1-3 {
        top: 148%;
        right: 56px;
    }

    .global-network h3 {
        font-size: 1.3rem;
    }

    .global-network {
        text-align: left;
        top: 165%;
    }

    .global-network p {
        text-align: left;
    }

    .global-network img {
        width: 75%;
        left: 36px;
        top: 65%;
        z-index: -2;
    }



}

@media screen and (max-width: 420px) {

    .section-content .top_tx_box {
        font-size: 1.2rem;
    }

    .section-content .top_tx_box2 {
        font-size: 1.2rem;
    }

    .info-item1-1 {
        position: absolute;
        top: 120%;
        left: 55px;
    }

    .info-item1-2 {
        right: 53px;
        top: 128%;
    }

    .info-item1-3 {
        top: 165%;
        right: 56px;
    }

    .global-network {
        text-align: left;
        top: 185%;
    }

    .block5 {
        top: 80%;
        right: 32%;
    }



}

@media screen and (max-width: 400px) {
    .section-content h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .section-content .top_tx_box {
        margin-top: 30px;

    }


    .section-content .top_tx_box2 {
        font-size: 1.2rem;
    }

    .info-item .info_ttl {
        font-size: 1rem;


    }

    .info-item1-2 {
        right: 53px;
        top: 124%;
    }

    .info-item1-3 {
        top: 158%;
        right: 56px;
    }

    .global-network h3 {
        font-size: 1.2rem;

    }

    .global-network p {
        font-size: 1rem;
    }

    .global-network {
        top: 178%;
    }

    .content-block img {
        height: 18px;
    }

    .content-block h3 {
        margin-top: 5px;
    }

    .block2 img {
        height: 30px;
    }

    .block5 {
        right: 40%;
    }


}

@media screen and (max-width: 375px)  {

    .info-item1-1 {
        top: 115%;
        left: 37px;
    }

    .content-block img {
        height: 15px;
    }

    .block2 img {
        height: 27px;
    }

}