/* 在庫管理 */
.adminZaiko{margin:20px 0;border-collapse:collapse;border-spacing:0;}
.adminZaiko th,
.adminZaiko td{padding:10px 3px;font-size:13px;line-height:1.4;border-right:1px solid #fff;border-bottom:1px solid #b5b5b5;word-break:break-all;}

.adminZaiko thead th{color:#333;font-weight:normal;background:#f1ece5;}
.adminZaiko thead th.saturday,
.adminZaiko td.saturday{background:#d0e1eb;}
.adminZaiko thead th.holiday,
.adminZaiko td.holiday{background:#efd7dc;}

.adminZaiko .zaiko{width:20px;text-align:right;border:1px solid #b5b5b5;}
.adminZaiko .zaiko.changed{background:#ffcc00;}
.adminZaiko .zaikoWaku{width:20px;text-align:right;border:1px solid #b5b5b5;}
.adminZaiko .zaikoWaku.changed{background:#ffcc00;}

.DispButton{margin:40px 0 0;}
.DispButton .AdminTabMenu li a{padding:3px 15px;border-bottom:none !important;}
.DispButton input{ padding:5px; width:100px;}

