BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
H5.period {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; color: #FF0000;
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
BODY {
	COLOR: #353638; LINE-HEIGHT: 1.4; FONT-FAMILY: "‚l‚r ‚oƒSƒVƒbƒN","Osaka",sans-serif; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: center
}
TABLE {
	LINE-HEIGHT: 1.4
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
INPUT {
	COLOR: #4f4b34
}
TEXTAREA {
	COLOR: #4f4b34
}
EM {
	FONT-STYLE: normal
}
A:link {
	COLOR: #0139c8; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0139c8; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #dd0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #dd0000; TEXT-DECORATION: underline
}

H3 {
	MARGIN-BOTTOM: 10px
}
H4 {
	MARGIN-BOTTOM: 2px; COLOR: #2d79c8
}
.link_point {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 6px
}
.nowrap {
	WHITE-SPACE: nowrap
}
.color_red {
	COLOR: #ef0000
}
P.link {
	MARGIN: 3px; TEXT-ALIGN: right
}
INPUT.input_num {
	IME-MODE: inactive; WIDTH: 2.2em
}
.Num {
	IME-MODE: inactive
}
.Asc {
	IME-MODE: inactive
}
.Dbcs {
	IME-MODE: active
}
.Kana {
	IME-MODE: active
}
.indent_notes {
	text-indent:-1em; PADDING-LEFT: 1em;
}
.indent_notes2 {
	text-indent:-18px; PADDING-LEFT: 18px;
}
.indent_notes3 {
	text-indent:-7px; PADDING-LEFT: 7px;
}
.indent_notes4 {
	text-indent:-2em; PADDING-LEFT: 2em;
}
.indent_notes5 {
	text-indent:-2.5em; PADDING-LEFT: 2.5em;
}
.indent_notes6 {
	text-indent:-1.5em; PADDING-LEFT: 1.5em;
}
.indent_notes7 {
	text-indent:-1.3em; PADDING-LEFT: 1.3em;
}
.margin_b05 {
	MARGIN-BOTTOM: 5px;
}
.margin_b07 {
	MARGIN-BOTTOM: 7px;
}
.margin_b10 {
	MARGIN-BOTTOM: 10px;
}
.margin_b15 {
	MARGIN-BOTTOM: 15px;
}
.margin_b20 {
	MARGIN-BOTTOM: 20px;
}
.margin_b30 {
	MARGIN-BOTTOM: 30px;
}
.margin_b50 {
	MARGIN-BOTTOM: 50px;
}
.margin_l05 {
	MARGIN-LEFT: 5px;
}
.margin_l07 {
	MARGIN-LEFT: 7px;
}
.margin_l10 {
	MARGIN-LEFT: 10px;
}
.margin_l15 {
	MARGIN-LEFT: 15px;
}
.margin_l20 {
	MARGIN-LEFT: 20px;
}
.margin_l30 {
	MARGIN-LEFT: 30px;
}
.margin_l50 {
	MARGIN-LEFT: 50px;
}
.margin_r05 {
	MARGIN-RIGHT: 5px;
}
.margin_r07 {
	MARGIN-RIGHT: 7px;
}
.margin_r10 {
	MARGIN-RIGHT: 10px;
}
.margin_r15 {
	MARGIN-RIGHT: 15px;
}
.margin_r20 {
	MARGIN-RIGHT: 20px;
}
.margin_r30 {
	MARGIN-RIGHT: 30px;
}
.margin_r50 {
	MARGIN-RIGHT: 50px;
}
.margin_t05 {
	MARGIN-TOP: 5px;
}
.margin_t07 {
	MARGIN-TOP: 7px;
}
.margin_t10 {
	MARGIN-TOP: 10px;
}
.margin_t15 {
	MARGIN-TOP: 15px;
}
.margin_t20 {
	MARGIN-TOP: 20px;
}
.margin_t30 {
	MARGIN-TOP: 30px;
}
.margin_t50 {
	MARGIN-TOP: 50px;
}

