@charset "Shift_JIS";

/* entrance.css
=========================================================================================*/
body,h1,h2,h3,h4,h5,h6,p,form,ul,ol,li,dl,dt,dd,table,th,td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック','MS P Gothic',sans-serif;
}
.link_point {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 6px
}
.indent_notes {
	text-indent:-15px; PADDING-LEFT: 15px;
}

H3 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 125%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: inherit;
	MARGIN-BOTTOM: 2px;
}
.margin_b05 {
	MARGIN-BOTTOM: 5px
}
.margin_b07 {
	MARGIN-BOTTOM: 7px
}
.margin_b10 {
	MARGIN-BOTTOM: 10px
}
.margin_b15 {
	MARGIN-BOTTOM: 15px
}
.margin_b20 {
	MARGIN-BOTTOM: 20px
}
.margin_b30 {
	MARGIN-BOTTOM: 30px
}
.margin_b50 {
	MARGIN-BOTTOM: 50px
}
.margin_b70 {
	MARGIN-BOTTOM: 70px
}
.clear {
	clear:both;
}
.cauword_pnt{
	font-size:8pt;
	/*font-size:smaller;*/
}
.left_indents{
	text-align:left;
	text-indent:-11px;
	margin-left:11px;
}
.ex_notes {
	vertical-align:super;
	font-size:smaller;
}
/* init
-----------------------------------------------------------------------------------------*/
body {
	background-color: #f3f3f3;
	text-align: center;
	font-family:"ＭＳ Ｐゴシック","Osaka",sans-serif;
	color: #353638;
	line-height: 1.4;
}

table {
	line-height: 1.4;
}

img {
	border: 0;
}

input,textarea{
	color:#4F4B34;
}

em {
	font-style: normal;
}

a:link,a:visited {
	color: #0139c8;
	text-decoration: underline;
}
a:hover,a:active {
	color: #dd0000;
	text-decoration: underline;
}

/* container
-----------------------------------------------------------------------------------------*/
div#container {
	margin: 0 auto;
	background: #ffffff url(../images/entrance_page_bg2.gif) repeat-y left top;
	width: 780px;
}
div#container div#contents {
	margin: 0 5px;
	border-top: 4px solid #7C82F1;
	width: 770px;
}

/* header
-----------------------------------------------------------------------------------------*/
div#header {
	margin: 2px 16px ;
	width: 714px;
	text-align: left;
}

div#header h1 {
	margin: 4px 0px;
	font-size: smaller;
	color: #a1a1a1;
	line-height: 1.2;
}

div.left {
	float: left;
}
div.right {
	float: right;
}

/* top_main_image
-----------------------------------------------------------------------------------------*/
div.top_main_image {
	margin: 0 15px;
	padding: 60px 117px 0px 10px;
	background: transparent url(../images/entrance_top_main_image_bg.gif) no-repeat top 15px;
	overflow: hidden;
	height:154px;
}
div.top_main_image:after {
	content: ".";
	display: block;
	line-height: 0;
	height: 0;
	clear: both; 
	visibility: hidden;
}
div.top_main_image {
	/*height: 1%;*/
	overflow: visible;
}
div.top_main_image img {
	vertical-align: bottom;
}
div.top_main_image div.title_agt h3 {
	text-align:center;
	padding-left:40px;
	margin-left:40px;
}
div.top_main_image div.title_agt h3 em.agt_name {
	font-weight:bold;
	font-size:large;
}

/* footer
-----------------------------------------------------------------------------------------*/
table#footer {
	width: 780px;
}
table#footer td address {
	background-color: #f3f3f3;
	margin: 4px 5px 1px 5px;
	padding: 0 21px;
	border-top: 1px solid #b0b1ae;
	text-align: left;
	height: 10px;
}
table#entrance_footer_navi {
    margin:auto 10px;
}


/*box
-----------------------------------------------------------------------------------------*/
div.entrance_contentbigbox{
	width:680px;
	padding: 10 19 10 19px;
	background-color:#E7F0F8;
}
div.entrance_contentbigbox div.entrance_box01 {
	width:662px;
	background:url(../images/entrance_contentsboxbg01_mid.gif) repeat-y left top;
	padding:0 10px;
}
div.entrance_contentbigbox div.entrance_box02 {
	width:662px;
}
div.entrance_contentbigbox div.entrance_box03 {
	width:662px;
	background:url(../images/otoku_contentsboxbg01_mid.gif) repeat-y left top;
	padding:0 0px;
}
div.entrance_contentbigbox div.entrance_box04 {
	width:662px;
	background:url(../images/otoku_contentsboxbg02_mid.gif) repeat-y left top;
	padding:0 0px;
}
div.entrance_contentbigbox div.entrance_box05 {
	width:662px;
	background:url(../images/otoku_contentsboxbg03_mid.gif) repeat-y left top;
	padding:0 10px;
}
div.entrance_contentbigbox h4{
	color:#2C79C9;
	font-size:larger;
	margin-top:7px;
}
div.entrance_contentbigbox div.entrance_box01 P.org_con{
	text-align:left;
}
div.entrance_box01 div.agt_area {
	text-align:left;
}
div.entrance_box01 div.agt_area div.agtname_box{
	width:290px;
	float:left;
	margin-right:57px;
	font-weight:bold;
}
div.entrance_box01 div.agt_area div.agtcode_box{
	width:290px;
	float:right;
	display:inline;
}

div.entrance_box01 div.tel_area p.agt_address{
	border-bottom:1px dashed #BDD6EC;
}

div.entrance_box01 div.tel_area {
	/*text-align:left;*/
}
div.entrance_box01 div.tel_area div.left_box{
	padding:5px;
	width:255px;
	float:left;
	background:#F4F4F4;
}
div.entrance_box01 div.tel_area div.left_box div.dacno_area{
	padding:15 5 15 5px;
	background:#FFFFFF;
}
div.entrance_box01 div.tel_area div.left_box div.dacno_area table{
	border:none;
	width:100%;
}
div.entrance_box01 div.tel_area div.left_box div.dacno_area table th{
	font-weight:normal;
	width:30%;
	vertical-align:top;
}

div.entrance_box01 div.tel_area div.left_box div.dacno_area P.red_telno{
	color:B71034;
	font-weight:bold;
	font-size:larger;
}
div.entrance_box01 div.tel_area div.right_box{
	padding:5px;
	width:365px;
	float:right;
	display:inline;
	background:#F4F4F4;
}
div.entrance_box01 div.tel_area div.right_box div.agtcode_area{
	padding:5px;
	background:#FFFFFF;
	font-weight:bold;
}
div.entrance_box01 div.tel_area div.right_box div.agtcauword_area{
	padding:5px;
	background:#FFFFFF;
	text-align:left;
}
div.entrance_box01 div.agt_area p.agt_address{
	border-bottom:1px dashed #BDD6EC;
}
div.entrance_box01 ul li{
	list-style:none;
}
div.entrance_box01 div.right_box{
	width:290px;
	float:left;
}
div.fs01{
	font-size:1px;
}
div.entrance_box01 div.dash_line{
	width:100%;
	border:dashed 1px #666666;
}

div.entrance_box01 div.legal_area {
	text-align:left;
	padding:3px;
}
div.entrance_box01 div.legal_area ul li{
	display:inline;
	list-style: none;
	padding-right:20px;
	padding-left:15px;
	background:url(../images/arrow.gif) no-repeat 0 1px;
}
div.entrance_box01 div.legal_area ul li.lc_no{
	background:none;
	text-align:right;
	padding-left:190px;
	padding-right:0px;
}
div.entrance_box03 div.otokukontens{
	text-align:left;
	/*padding-left:10px;*/
}
div.entrance_box03 div.otokukontens ul{
	padding:0px;
	margin:0px;
}
div.entrance_box03 div.otokukontens ul li{
	display:inline;
	width:297px;
	text-align:left;
	vertical-align:top;
	margin:3 17 0 17px;
}
div.entrance_box03 P.web_off{
	text-align:right;
	font-weight:bold;
	margin-right:30px;
	color:#C0304F;
	font-size:110%;
}
div.entrance_box04 div.otokukontens{
	text-align:left;
	/*padding-left:10px;*/
}
div.entrance_box04 div.otokukontens ul{
	padding:0px;
	margin:0px;
}
div.entrance_box04 div.otokukontens ul li{
	display:inline;
	width:297px;
	list-style: none;
	text-align:left;
	vertical-align:top;
	margin:5 17px;
}
