@charset "utf-8";

/* ===========================================================
 default
=========================================================== */
.table.layoutItem.col2{margin-top:20px;}
.table.layoutItem.col2 > .boxBorderd{border-right:none;}
.table.layoutItem.col2 > .boxBorderd:last-child{border-top:2px solid #cf232b;}
p.alignRight > a.linkTxt:after{right:34px;}
p.alignRight > a.linkTxt:before{right:30px;}

/* 代理店支援 */
.transferFlow li{display:block;padding:0;}
.transferFlow .bar{transform:rotate(-90deg);margin-top:-4px;text-align:center;}
img.imgLeft{float:none;}
img.imgRight{float:none;}
/* 海外拠点 */
table.listTable_side.bgcolorRed > tbody > tr > th{width:70px;}
/* 営業拠点 */
.boxTable > .boxColored.red{width:100%;}
.boxTable > .boxBorderd{width:100%;border-right:none;}
.boxTable > .boxBorderd:last-child{border-top:2px solid #cf232b}