@charset "utf-8";

.actionBtn{margin:0;padding:0;text-align:right;}

/* ===========================================================
 zero
=========================================================== */
.zero			{margin:0;padding:0;width:100%;clear:both;}
.zero .contents	{margin:0;padding:0;clear:both;}


/* ===========================================================
 lineTitle
=========================================================== */
.lineTitle			{margin:30px 0 15px 0;padding:0;width:100%;clear:both;}
.lineTitle .title	{margin:0 0 10px 0;padding:0;clear:both;}
.lineTitle .title h2{margin:0;padding:10px 0 12px 28px;font-weight:bold;line-height:130%;font-size:16px;}
.lineTitle .title h2 .Head{font-size:100%;font-weight:bold;}
.lineTitle .contents{margin:0;padding:0;clear:both;}
.lineTitle .contents:before,
.lineTitle .contents:after {content:"";display:table;}
.lineTitle .contents:after {clear:both;}
