<li>
    <div class="form-check">
    <__trans_section component="commercial">
        <input type="checkbox" name="clone_prefs_customfields" id="clone-prefs-customfields" <mt:if name="clone_prefs_customfields">checked="<mt:var name="clone_prefs_customfields">"</mt:if> class="form-check-input cb" />
        <label class="form-check-label" for="clone-prefs-customfields"><__trans phrase="Custom Fields"></label>
    </__trans_section>
    </div>
</li>
