@charset "utf-8";

@import "/Portals/0/css/contents_onesure.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

/* ===========================================================
 html
=========================================================== */

/* size settings */
html,
body{width:100%}

/* font settings */
html,
body{color:#333;font-size:14px;line-height:1.5;}
body{font-family:"Noto Sans JP","Meiryo","Verdana","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka","ＭＳ Ｐゴシック","sans-serif";}

/* pc/sp settings */
.pcArea{display:block;}
.spArea{display:none;}

/* chat bot */
.adminMode .ibqa_chatbutton{z-index:999;}

/* ===========================================================
 skin
=========================================================== */
#blockskip{display:none;}
.inner{max-width:960px;padding:0 20px;margin:0 auto;}
.DNNEmptyPane{margin:0 !important;padding:0 !important;}
.contentMiddle .pagetitleArea{background:#f4f4f4;}
.contentMiddle .mainArea > .inner{padding-top:3em;}
.contentBottom{padding-bottom:3em;}


/* ===========================================================
 header
=========================================================== */
#header{margin:0;padding:10px 0;width:100%;background:#fff;border-bottom:1px solid #707070;z-index:100;}
.headTop .inner{display:flex;align-items:center;justify-content:space-between;}
.headTop .left .logo{width:132px;padding:0;}
.headTop .left .logo a{display:block;}
.headTop .left .logo img{max-width:100%;vertical-align:bottom;}


/* ===========================================================
 gNav
=========================================================== */
#gNav{height:50px;margin:0 auto;padding:0;}
#gNav:after{content:"";display:block;clear:both;}

.tokenMenu ul{margin:0;padding:0;}
.tokenMenu ul:after{content:"";display:block;clear:both;}
.tokenMenu li{display:none;list-style-type:none;margin:0;padding:0;}
.tokenMenu ul li.Tab36{display:block;}
.tokenMenu ul ul{display:none;}

/* ===========================================================
 content
=========================================================== */


/* ===========================================================
 footer
=========================================================== */
#footer{margin:0;padding:50px 0;background:#f4f4f4;}
.footArea{display:flex;justify-content:center;}
.footArea .left{margin-right:50px;}
.footArea .left .logo{padding:0;margin:0 0 3px;width:110px;}
.footArea .left .logo a{display:block;}
.footArea .left .logo a img{max-width:100%;}

/* copyright */
.copyright{padding:0;font-size:71.43%;}


/* ===========================================================
 css for admin
=========================================================== */

/* css-for-adminModules */
.FileManager_LeftBox{width:200px !important;}
.FileManager_LeftBox img{height:13px !important;}
#dnn_ctr362_ModuleContent table{width:100% !important;}
#dnn_ctr362_ModuleContent table td{text-align:left !important;}

/* 編集ナビ */
.ModuleTitle_MenuContainer > tbody > tr > td,
.ModuleTitle_MenuContainer > tbody > tr > td > table{width:auto;}
.ModuleTitle_MenuContainer > tbody > tr > td:last-child{line-height:1;}
.ModuleTitle_MenuItem{font-size:12px !important;}

/* スマホプレビュー */
.selectBox + .fancybox-wrap,
.selectBox + .fancybox-wrap *{box-sizing:content-box !important;}
.previewMode .fancybox-opened{z-index:99999999 !important;}

/* 承認フロー管理 */
table.ViewManageRole.tableGrid.Settings th[style*="width"]{width:auto!important;}


@media screen and (max-width:767px){/**/

/* ===========================================================
    html
=========================================================== */

/* size settings */
html,
body{width:100%;min-width:1%;}

/* font settings */
body[data-view="sp"]{font-family:"Noto Sans JP","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Roboto","Droid Sans","Meiryo","sans-serif";}

.controlPanel{display:none;}
img{max-width:100%;height:auto !important;}

/* ===========================================================
    skin
=========================================================== */
.inner{width:auto;padding:0 2%;}

/* ===========================================================
    header
=========================================================== */
#header{padding:5px 0;}
.headTop .left .logo{width:100px;}
.headTop .right{display:none;}

/* ===========================================================
    footer
=========================================================== */
#footer{margin:0;padding:25px 1em;}
.footArea{display: block;}
.footArea .left{margin:0;}
.footArea .left .logo{margin: 0 0 0.5em;}
.footArea .right{font-size:85.72%;}
.copyright{margin:0 0 1.5em;}

/**/}
