.risk .pc-only {
    display: block;
}

.risk .sp-only {
    display: none;
}

.tx_center {
    text-align: center;
}

.tx_b {
    font-weight: bold;
}

.risk-table .boder_b {
    border-bottom: 3px solid #D70C18;;
}

.risk-table .boder_r {
    border-right: 3px solid #D70C18;;
}

@media screen and (max-width: 768px) {
    .risk .pc-only {
        display: none;
    }

    .risk .sp-only {
        display: block;
    }
}

.sec_ttl {
    font-size: 3.4rem;
    font-weight: bold;
    color: #D80C18;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.value section p {
    font-size: 1.6rem;
    margin: 0;

}

.bg_gray {
    width: 100vw;
    /* 画面全体の幅 */
    background-color: #f6f6f6;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.bg_gray__inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 20px;
}

.bg_inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 160px 150px;
}

.bg_map {
    background-image: url(/asset/img/value/risk-management/item_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    background-position-y: 45px;

}

picture img {
    width: 100%;
}

.sec1 {
    padding-bottom: 60px;
    line-height: 2;
}

.sec2 {
    padding: 50px 0 40px;
    line-height: 2;
}

.sec3 {
    padding: 100px 0 90px;
}

.sec4 {
    padding: 40px 0 100px;
}

.sec5 {

    background-image: url(/asset/img/value/risk-management/bg_sec4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    /* 画面全体の幅 */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

}

.item_area p {
    font-size: 1.6rem;
    margin-top: 0;
}


.sec1 .item_area {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec2 .item_area {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.sec3 .item_area {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec4 .item_area {
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.item_box {
    max-width: 260px;
    min-width: 260px;
    border-radius: 20px;
    background-color: #fff;
    border: 3px solid #D70C18;
    padding: 23px;
    text-align: center;
}

.item_box h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.item_box p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.flex_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 280px;
    /* 上下の間隔 */
}

.item_row {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.item_row--top {
    justify-content: center;
}

.item_row--bottom {
    justify-content: space-between;
    flex-wrap: wrap;
}

/* flow */
.insurance-buy__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 1rem;
    width: 890px;
    margin-inline: auto;
}

.insurance-buy__item {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #d80c18;
    padding: 0;
    text-align: left;
    background: white;
}

.insurance-buy__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.1875rem;
}

.insurance-buy__name {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    text-align: center;
    background-color: #D70C18;
    color: #fff;
    margin: auto;
}

.insurance-buy__item p.insurance-buy__text {
    padding: 15px;
    text-align: center;
    line-height: 1.2;
}

.insurance-buy__item:not(:last-child)::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px 12px 8px;
    border-color: transparent transparent transparent #d80c18;
    right: -15%;
    top: 50%;
}

.flow_area {
    position: relative;
}

.flow_area::before {
    content: "";
    background-image: url(/asset/img/value/risk-management/pc_arrow.svg);

}

.white_box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    max-width: 745px;
    border-radius: 20px;
    margin-inline: auto;
    box-shadow: 0 4px 10px rgba(5, 5, 10, 0.5);
}

.white_box p {
    font-size: 1.6rem;
}

.img_arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
}

.img_arrow img {
    width: 85%;
    margin-inline: auto;
}



















/* 表１ */
.risk-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: sans-serif;
    margin: 0 auto;
}

.risk-chart__label--vertical {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    gap: 5px;
}

.risk-chart__matrix {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.risk-chart__row {
    display: flex;
    gap: 25px;
}

.risk-chart__box {
    min-width: 330px;
    width: 100%;
    min-height: 210px;
    height: 100%;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.sec4 .risk-chart__box p {
    font-size: 3rem;
    margin: 0;
}

.risk-chart__box span {
    font-weight: normal;
    font-size: 2.5rem;
    margin-top: 5px;
}

/* カラーバリエーション */
.risk-chart__box--red {
    background-color: #D70C18;
}

.risk-chart__box--darkred {
    background-color: #60050A;
}

.risk-chart__box--black {
    background-color: #1a1a1a;
}

.risk-chart__box--gray {
    background-color: #959090;
}

.risk-chart__label--horizontal {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

/* 表２ */
.risk-table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1.6rem;
    margin: 0 auto;
    table-layout: fixed;
    border: 3px solid #D70C18;
}

.risk-table th,
.risk-table td {
    border: 1px solid #D70C18;
    padding: 10px 5px;
    background-color: #fff;
}

.risk-table td {
    padding: 10px 5px;
    background-color: #fff;
}

.risk-table th{
    border: 3px solid #D70C18;
    padding: 10px 5px;
    background-color: #fff;
}

.sec4 .risk-table thead th {
    border-right: 3px solid #fff;
    background-color: #D70C18;
    color: #fff;
    font-weight: bold;
    font-weight: bold;
}

.risk-table thead th:nth-child(3) {
    /* border-right: 3px solid #D70C18; */
    border-bottom: 1px solid #D70C18;
}

.sec4 .risk-table__group {
    text-align: center;
    background-color: #F3E3E4;
    font-weight: bold;
    border: 3px solid #D70C18;
}

.risk-table__group-inner {
    display: flex;
    justify-content: center;
    /* 横中央 */
    align-items: center;
    /* 縦中央 */
    height: 100%;
    width: 100%;
    font-weight: bold;
    background-color: #fbeaea;
    text-align: center;
}

/* 1列目（区分）を20%に */
.risk-table td:nth-child(1),
.risk-table th:nth-child(1) {
    width: 15%;
}

/* 2列目（手段）を20%に */
.risk-table td:nth-child(2),
.risk-table th:nth-child(2) {
    width: 12%;
}

/* 3列目（内容）を60%に */
.risk-table td:nth-child(3),
.risk-table th:nth-child(3) {
    width: 73%;
}

.risk .content-wrapper {
    padding-bottom: 0;
}

.sec4 .risk-table thead th:nth-child(3) {
    border-right: none;
  }

/* レスポンシブ対応 */
@media (max-width: 768px) {

    .risk .content-wrapper {
        padding-top: 20px;
    }


    .sec1 {
        padding-bottom: 0;
    }

    .bg_gray__inner {
        padding: 0;
    }

    .sec5 {
        padding: 70px 20px;
        background-image: url(/asset/img/value/risk-management/bg_sec4_sp.jpg);
    }


    .bg_map {
        background-image: url(/asset/img/value/risk-management/item_2_sp.png);
    }

    .risk-table {
        font-size: 13px;
    }

    .risk-table th,
    .risk-table td {
        padding: 8px;
    }

    .risk-table__group {
        text-orientation: upright;
        font-size: 12px;
    }

    /* 1列目（区分）を20%に */
    .risk-table td:nth-child(1),
    .risk-table th:nth-child(1) {
        width: 25%;
    }

    /* 2列目（手段）を20%に */
    .risk-table td:nth-child(2),
    .risk-table th:nth-child(2) {
        width: 20%;
    }

    /* 3列目（内容）を60%に */
    .risk-table td:nth-child(3),
    .risk-table th:nth-child(3) {
        width: 55%;
    }

    .insurance-buy__list {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;

    }

    .insurance-buy__item:not(:last-child)::after {
        top: initial;
        right: initial;
        border-width: 1.25rem 0.90625rem 0 0.90625rem;
        border-color: #d80c18 transparent transparent transparent;
        left: 50%;
        transform: translateX(-50%);
        bottom: -1.25rem;
    }

  

    .flow_area {
        display: flex;
        position: relative;
    }

    .img_arrow {
        position: relative;
        right: 20%;
    }

    .img_arrow .sp_point {
        position: relative;
        background-color: #fff;
        border: 2px solid #D70C18;
        font-size: 1.2rem;
        border-radius: 6px;
        padding: 15px 5px;
        right: -95%;
    }

    .img_arrow img {
        height: 90%;
        position: absolute;
        width: 100%;
        top: 30px;

    }

    .sec3 .item_area {
        gap: 10px;
    }

    .insurance-buy__name {
        font-size: 1rem;
        margin: auto;
    }

    .insurance-buy__item p.insurance-buy__text {
        font-size: 1.5rem;
        margin: 0;
    }

    .sec_ttl {
        font-size: 1.8rem;
    }

    .item_area p {
        font-size: 1.5rem;
    }

    .sec1 .item_area {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .item_box h3 {
        font-size: 1.5rem;
    }

    .item_box p {
        font-size: 1rem;
    }

    .item_box {
        padding: 5px;
        border-radius: 10px;
        max-width: 150px;
        min-width: 150px;
    }

    .item_row {
        gap: 30px;
    }

    .flex_area {
        gap: 225px;
    }

    .risk-chart__box {
        width: 100%;
        min-width: 150px;
        max-width: 150px;
        height: auto;
        min-height: 87px;
        max-height: 87px;
    }

    .sec4 .risk-chart__box p {
        font-size: 1.5rem;
    }

    .risk-chart__box span {
        font-size: 1rem;
    }

    .risk-chart__row,
    .risk-chart__matrix {
        gap: 10px;
    }

    .risk-chart__label--vertical,
    .risk-chart__label--horizontal {
        font-size: 0.6rem;
    }

    .risk-chart__label--vertical {
        left: -30px;
    }

    .sec2 .item_area {
        gap: 50px;
    }

    .bg_map {
        height: auto;
    }

    .sec2 {
        padding-top: 35px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 55px;

    }

    .sec4 {
        padding-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 55px;
    }

    .sec3 {
        padding-top: 25px;
        padding-bottom: 45px;
    }

    .sec4 .risk-table__group {
        border: 2px solid #D70C18;
    }

    .risk-table {
        border: 2px solid #D70C18;
    }

    .risk-table th,
    .risk-table td {
        border: 1px solid #c00;
    }

    .risk-table .boder_b {
        border-bottom: 2px solid #D70C18;;
    }
    
    .risk-table .boder_r {
        border-right: 2px solid #D70C18;;
    }

    .sec4 .risk-table thead th {
        border-right: 2px solid #fff;
    }

    .bg_inner {
        padding: 10px;
    }

    .white_box {
        padding: 30px;
    }


.white_box p {
    font-size: 1.5rem;
}

}