<$mt:setvar name="screen_type" value="dialog-screen rebuild-template"$>
<$mt:setvar name="page_title" value="<__trans phrase="Rebuild mail form template">"$>

<mt:setvarblock name="modal_body">
<div class="modal_width" id="select-weblog-dialog">
<mt:if name="result">
<mtapp:statusmsg id="success" class="success">
<__trans phrase="Mail form template is rebuilt.">
</mtapp:statusmsg>
<mt:else>
<mtapp:statusmsg id="error" class="error">
<mt:var name="err_msg">
</mtapp:statusmsg>
</mt:if>

<div class="actions-bar">
    <div class="actions-bar-inner pkg actions">
        <button
            type="submit"
            accesskey="x"
            class="cancel action button mt-close-dialog btn btn-default"
            data-mt-modal-close
            title="<__trans phrase="Close (x)">"
            ><__trans phrase="Close"></button>
    </div>
</div>
</div>
</mt:setvarblock>

<mt:include name="layout/modal.tmpl">
<mt:var name="layout">
