@charset "UTF-8";

/* insuranceセクション*/
/* insurance-Supportセクション */
@media screen and (max-width: 767px) {
    .content-wrapper--insurance {
        padding: 0.9375rem 1rem;
    }
}

.insurance-support {
    padding-top: 2.8125rem;
    padding-bottom: 5.5rem;
}

@media screen and (max-width: 767px) {
    .insurance-support {
        padding-top: initial;
        padding-bottom: 3.75rem;
    }
}

.insurance-support__title {
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
    color: #d80c18;
}

@media screen and (max-width: 767px) {
    .insurance-support__title {
        font-size: 2.4rem;
    }
}

.insurance-support__content {
    display: flex;
    gap: 4.0625rem;
    margin-top: 2.9375rem;
}

@media screen and (max-width: 767px) {
    .insurance-support__content {
        flex-direction: column-reverse;
        gap: 1.0625rem;
        margin-top: 1.0625rem;
    }
}

.insurance-support__text {
    width: 50%;
    font-size: 1.6rem;
    font-weight: normal;
    color: #333;
}

@media screen and (max-width: 767px) {
    .insurance-support__text {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.3333333333;
        color: #333333;
    }
}

.insurance-support__text p:nth-child(2) {
    margin-top: 1.875rem;
}

@media screen and (max-width: 767px) {
    .insurance-support__text p:nth-child(2) {
        margin-top: 1.25rem;
    }
}

.insurance-support__img {
    flex: 1;
}

.insurance-support__img img {
    width: 100%;
    object-fit: cover;
    height: auto;
}


.insurance-merit__inner {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.insurance-merit__title {
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
    color: #d80c18;
}

@media screen and (max-width: 767px) {
    .insurance-merit__title {
        font-size: 2.5rem;
    }

    insurance-support__img img {
        width: 100%;
    }
}


.insurance-merit__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin: 40px 0;
}

.insurance-merit__item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.insurance-merit__number {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #d80c18;
    text-align: center;
    line-height: 1.2;
    display: flex;
    align-items: center;
    height:100%;
}

.insurance-merit__content {
    text-align: left;
}

.insurance-merit__name {
    font-size: 2.8rem;
    font-weight: bold;
    color: #d80c18;
    margin: 0;
}

.insurance-merit__3gyo {
    min-height: 4.5em;
}
.insurance-merit__text {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
}

/* スマホ対応 */
@media (max-width: 768px) {
    .insurance-merit__grid {
        grid-template-columns: 1fr;
        gap: 13px;
    }

    .insurance-merit__item {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .insurance-merit__number {
        font-size: 50px;
        min-width: 50px;
    }

    .insurance-merit__3gyo {
        min-height: 0em;
    }
}

.insurance-buy_bg {
    background: #E6E6E6;
    padding-bottom: 60px;
}

.insurance-buy__title {
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
    color: #d80c18;
}

.insurance-buy img {
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .insurance-buy__title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
	.insurance-buy__container {
		width: min(100%, 43.75rem);
		margin-inline: auto;
		display: flex;
		gap: 0.5625rem;
		margin-top: 0.8125rem;
	}
}

.insurance-buy__img {
	margin-top: 2.625rem;
}
@media screen and (max-width: 767px) {
	.insurance-buy__img {
		margin-top: initial;
		display: flex;
		flex-shrink: 0;
		width: 13.3333333333%;
	}
}

.insurance-buy__img img {
	width: 100%;
	height: auto;
}
@media screen and (max-width: 767px) {
	.insurance-buy__img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.insurance-buy__list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.6875rem;
	margin-top: 1rem;
	width:890px;
}
@media screen and (max-width: 767px) {
	.insurance-buy__list {
		grid-template-columns: 1fr;
		gap: 1.1875rem;
		margin-top: initial;
		height: 1200px;
	}
}

.insurance-buy__item {
	position: relative;
	border: 1px solid #d80c18;
	padding: 1.9375rem 1.2rem 1.375rem;
	text-align: left;
	background: white;
}
@media screen and (max-width: 767px) {
	.insurance-buy__item {
		padding: 1.6875rem 1.0625rem 2.6875rem 1.25rem;
	}
}

.insurance-buy__item:not(:last-child)::after {
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 0.90625rem 0 0.90625rem 1.25rem;
	border-color: transparent transparent transparent #d80c18;
	right: -1.25rem;
	top: 9.6rem;
}
@media screen and (max-width: 767px) {
	.insurance-buy__item:not(:last-child)::after {
		top: initial;
		right: initial;
		border-width: 1.25rem 0.90625rem 0 0.90625rem;
		border-color: #d80c18 transparent transparent transparent;
		left: 50%;
		transform: translateX(-50%);
		bottom: -1.25rem;
	}
}

.insurance-buy__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.1875rem;
}
@media screen and (max-width: 767px) {
	.insurance-buy__wrap {
		flex-direction: row;
		gap: 0.6875rem;
	}
}

.insurance-buy__item:nth-child(5) .insurance-buy__wrap {
	gap: 2.1875rem;
}
@media screen and (max-width: 767px) {
	.insurance-buy__item:nth-child(5) .insurance-buy__wrap {
		gap: 0.6875rem;
	}
}

.insurance-buy__number {
	font-size: 3rem;
	font-family: "Outfit", sans-serif;
	line-height: 1.1904761905;
	color: #d80c18;
}
@media screen and (max-width: 767px) {
	.insurance-buy__number {
		font-size: 2.7rem;
		line-height: 1.1851851852;
	}
}

.insurance-buy__name {
	text-align: center;
	font-size: 1.6rem;
	font-weight: 700;
	color: #d80c18;
}

.insurance-buy__text {
	margin-top: 2.3125rem;
	font-size: 1.4rem;
	line-height: 1.25;
}
@media screen and (max-width: 767px) {
	.insurance-buy__name {
	    text-align: left;
	}
	.insurance-buy__name {
	    text-align: left;
	}
	.insurance-buy__text {
		width: 95%;
		margin-inline: auto;
		font-size: 1.6rem;
		margin-top: 2.5rem;
	}
}

.insurance-buy__item p.insurance-buy__text {
	margin-top: 0rem;
}
@media screen and (max-width: 767px) {
	.insurance-buy__item p.insurance-buy__text {
		margin-top: 0;
	}
}

.insurance-buy__item:nth-child(1) .insurance-buy__text,.insurance-buy__item:nth-child(2) .insurance-buy__text,.insurance-buy__item:nth-child(5) .insurance-buy__text {
	margin-top: 7.5rem;
}
@media screen and (max-width: 767px) {
	.insurance-buy__item:nth-child(1) .insurance-buy__text,.insurance-buy__item:nth-child(2) .insurance-buy__text,.insurance-buy__item:nth-child(5) .insurance-buy__text {
		margin-top: 0;
	}
}

.insurance-menu {
    padding-top: 2.8125rem;
    padding-bottom: 5.5rem;
}

@media screen and (max-width: 767px) {
    .insurance-menu {
        padding-top: initial;
        padding-bottom: 3.75rem;
    }
}

.insurance-menu__inner {
    margin-inline: auto;
}

@media screen and (max-width: 767px) {
    .insurance-menu__inner {
        width: min(100%, 50rem);
    }
}

.insurance-menu__title {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    color: #d80c18;
}

@media screen and (max-width: 767px) {
    .insurance-menu__title {
        font-size: 2.4rem;
    }
}

.insurance-menu__content {
    display: flex;
    gap: 4.0625rem;
    margin-top: 60px;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .insurance-menu__content {
        flex-direction: column-reverse;
        gap: 1.0625rem;
        margin-top: 1.0625rem;
    }
}

/* 偶数番目の要素のレイアウトを反転 */
.insurance-menu__inner:nth-child(even) .insurance-menu__content {
    flex-direction: row-reverse;
}

.insurance-menu__text {
    width: 46%;
    font-size: 1.6rem;
    font-weight: normal;
    color: #333;
}

@media screen and (max-width: 767px) {
    .insurance-menu__text {
        width: 100%;
        font-size: 0.9375rem;
        line-height: 1.3333333333;
        color: #333333;
    }
}

.insurance-menu__text h3 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #D80C18;
    position: relative;
    padding-left: 10px;
    /* 左側の余白 */
    display: flex;
    align-items: center;
}

/* 右側の赤いライン */
.insurance-menu__text h3::before {
    content: "";
    display: block;
    width: 10px;
    /* ラインの幅 */
    height: 30px;
    /* h3 の高さと同じにする */
    background-color: #D80C18;
    margin-right: 10px;
    /* テキストとの間隔 */
}

.insurance-menu__text p:nth-child(2) {
    margin-top: 1.875rem;
}

@media screen and (max-width: 767px) {
    .insurance-menu__text p:nth-child(2) {
        margin-top: 1.25rem;
    }
}

.insurance-menu__img {
    flex: 1;
}

.insurance-menu__img img {
    aspect-ratio: 507/338;
    object-fit: cover;
    height: auto;
}

.service-menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
}

.service-menu-text {
    text-align: left;
    margin: 0 auto;
}

.service-menu-text h3 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #D80C18;
    position: relative;
    padding-left: 10px;
    /* 左側の余白 */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* 右側の赤いライン */
.service-menu-text h3::before {
    content: "";
    display: block;
    width: 10px;
    /* ラインの幅 */
    height: 40px;
    /* h3 の高さと同じにする */
    background-color: #D80C18;
    margin-right: 10px;
    /* テキストとの間隔 */
}

.service-menu-text p {
    font-size: 1.5rem;
    line-height: 1.6;
}

/* ボックス全体の配置 */
.service-menu-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* 各ボックスのスタイル */
.mini-box {
    flex: 1;
    min-width: 220px;
    /* 幅を調整 */
    background-color: white;
    text-align: center;
}

/* 赤背景の見出し */
.RedBack {
    background-color: #D80C18;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    min-height: 4.5em;
}

/* テキスト部分 */
.text {
    padding: 15px;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fff;
    border-top: none;
    text-align: left;
}

/* スマホ対応 */
@media (max-width: 768px) {
    .service-menu-box {
        flex-direction: column;
        align-items: center;
    }

    .mini-box {
        width: 100%;
        max-width: 400px;
    }
}

.case_bg {
    background: #F8F8F8;
}

.case-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    border: 2px solid #D80C18;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 10px 10px 0px 0px #D80C18;
    position: relative;
    max-width: 840px;
}

/* ケーススタディのコンテンツ */
.case-item {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: relative;
    width: 100%;
    gap: 20px;
}

/* タイトル */
.case-title {
    font-size: 4rem;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    color: #D80C18;
    text-align: center;
    margin-bottom: 40px;
}


@media (max-width: 768px) {
    .case-item {
        flex-direction: column-reverse;
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* 左側のテキスト */
.case-text {
    flex: 1 1 50%;
}

/* 右側の画像 */
.case-image {
    flex: 1 1 50%;
    text-align: right;
}

.case-image img {
    max-width: 100%;
    height: auto;
    margin-top: 25px;
}

/* 赤背景の見出し */
.case-header {
    background-color: #D80C18;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 25px;
    position: absolute;
    top: -40px;
    left: 0px;
    z-index: 2;
}

.case-description {
    margin-top: 0;
    font-size: 1.4rem;
    padding-left: 20px;
    margin-bottom: 30px;
}

.insurance-case__list {
	margin-left: 2.1875rem;
	margin-top: 1rem;
}
@media screen and (max-width: 767px) {
	.insurance-case__list {
		margin-left: initial;
		margin-top: 0.5625rem;
	}
}

.insurance-case__list-item {
	position: relative;
	font-size: 1.4rem;
	line-height: 1.3888888889;
	padding-left: 2rem;
	text-indent: -0.8rem;
}

.insurance-case__list-item::before {
	content: "";
	margin-right: 0.2em;
	display: inline-block;
	width: 0.4375rem;
	height: 0.4375rem;
	background-color: black;
	border-radius: 100%;
	vertical-align: middle;
}
@media screen and (max-width: 767px) {
	.insurance-case__list-item {
		font-size: 1.5rem;
		line-height: 1.3333333333;
	}
	.insurance-case__list-item::before {
		content: "";
		margin-right: 0.3em;
		display: inline-block;
		width: 0.5625rem;
		height: 0.5625rem;
		background-color: black;
		border-radius: 100%;
		vertical-align: middle;
	}
}
/* リストのスタイル */
.case-list {
    list-style-type: square;
    padding-left: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-top:35px;
}

.case-reason {
    font-size: 1.4rem;
    margin: 0;
    font-weight: bold;
    padding-left: 20px;
}

/* 課題・理由の枠 */
.radius-grey,
.radius-red {
    display: inline-block;
    padding: 0 15px;
    border-radius: 20px;
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: bold;
    margin:20px 0px 10px;
}

.radius-grey {
    background-color: #777;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px 25px;
}

.radius-red {
    background-color: #E1464F;
    color: white;
}

/* 効果のボックスを横並びに */
.case-effect {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid gray;
    width: 100%;
    max-width: 100%;
    text-align: left;
}

/* 効果の左側（赤いボックス） */
.case-effect-header {
    background-color: #D80C18;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 25px;
    flex: 0 0 150px;
    text-align: center;
}

/* 効果の右側（テキスト部分） */
.case-effect-text {
    font-size: 14px;
    padding: 10px;
    color: #D80C18;
    font-weight: bold;
    line-height: 1.6;
    flex: 1;
}

.case-study {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

/* スマホ対応 */
@media (max-width: 768px) {
    .case-effect {
        border: none;
        flex-direction: column;
        display: block;
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: bold;
    }

    .case-effect-header {
        display: inline-block;
        padding: 0 15px;
        border-radius: 20px;
        font-size: 1.6rem;
        line-height: 1.8;
        font-weight: bold;
        margin: 0 0 10px 10px;
        flex: 0;
    }

    .case-effect-text {
        width: 100%;
    }


    .case-text,
    .case-image {
        flex: none;
        width: 100%;
    }

    .case-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 5px;
        border: 2px solid #D80C18;
        background: white;
        margin: 0 10px 10px 0;
        position: relative;
        box-shadow: 5px 5px 0px 0px #D80C18;
    }

    .case-effect-header::before {
        content: "広告";
        /* 追加するテキスト */
    }

    .case-study {
        width: 100%;
        padding: 20px 5px;
        gap: 30px;
    }

    .insurance-merit__name {
        font-size: 1.8rem;
    }

    .insurance-merit__text {
        font-size: 1.3rem;
        font-weight: normal;
    }

    .flex_box_wrp {
        display: flex;
        gap: 0px;
    }

    .flow_number {
        font-size: 2.5rem;
        font-family: 'Outfit', sans-serif;
        display: inline-block;
        min-width: 30px;
        text-align: center;
        margin: 0;
    }

    .flow_title {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;

    }

    .insurance-buy img {
        width: 70px;
        height: auto;
        object-fit: contain;

    }

    .flow_box p {
        margin: 0;
        text-align: left;
    }

    .insurance-buy_bg {
        padding-bottom: 40px;
    }

    .insurance-menu__text {
        width: 90%;
    }

    .insurance-menu__text h3 {
        font-size: 1.5rem;
        padding-left: 0;
    }

    .insurance-menu__text p {
        font-size: 1.5rem;
    }

    .insurance-menu__inner:nth-child(even) .insurance-menu__content {
        flex-direction: column-reverse;
    }

    .service-menu-content {
        margin-top: 40px;
        width: 90%;
        margin-inline: auto;
    }

    .service-menu-text h3 {
        font-size: 1.8rem;
    }

    .case-title {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .case-header {
        min-width: 200px;
        top: 0;
        padding: 0 10px;
        text-align: left;
        font-size: 1.8rem;
        position: absolute;
        transform: translateY(-28px);
    }

    .case-image img {
        margin-top: 20px;
        width: 100%;
    }

    .case-reason,
    .radius-red,
    .case-description,
    .radius-grey,
    .case-list li {
        font-size: 1.5rem;
    }

    .radius-grey,
    .radius-red {
        margin-left: 10px;
    }

    .page-insurance-support .page-btn--next::before {
        left: 16rem;
    }
}

.page-sp-only {
    display: none;
}

.divider_gray {
    width: 100%;
    height: 1px;
    background-color: #D80C18;
    margin: 10px 0;
    border: none;
}
/* 横線の基本スタイル */
.divider {
    width: 100%;
    height: 1px;
    background-color: #D80C18;
    margin: 10px 0;
    border: none;
}

/* スマホ対応 */
@media (max-width: 768px) {
    .page-sp-only {
        display: block;
    }
}

@media screen and (max-width: 767px) {
	.u-pc {
		display: none;
	}
}

