@charset "utf-8";
/* ================================
    Default styles FOR infoCMS
	サイト共通
   ================================ */

html{
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	background:#fff;
}

/* フォントの指定　*/
body {
/*	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", Arial, Helvetica, sans-serif;*/
	font-family:'Meiryo','Verdana','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Osaka','ＭＳ Ｐゴシック','sans-serif';
	font-size:75%;
}
input, textarea ,select{
	font-family:'Meiryo','Verdana','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Osaka','ＭＳ Ｐゴシック','sans-serif';
}
font {
	line-height:120%;
}

/* フォントの指定　*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

/* テキストリンクのロールオーバー */
a:link {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/* 画像の余白指定 */
img {
	border:0;
}

/* style for module titles */
.Head {
	font-size:160%;
	font-weight:normal;
}
.SubHead {
	font-weight:bold;
}
.Normal {
	font-weight:normal;
}
.NormalBold {
	font-weight:bold;
}
.Normal p, .Normal td, .Normal li {
}
/* エラーメッセージ */
.NormalRed {
	font-weight:bold;
	color:#ff0000;
	text-align:left;
}
.NormalRed li {
	font-weight:bold;
	color:#ff0000;
	padding:0;
	margin:0;
}
.NormalBlue {
	font-weight:bold;
	color:blue;
	text-align:left;
}

/* テキストエディターのスタイル */

.FontSize150{
	font-size:150%;
}
.FontSize120{
	font-size:120%;
}
.FontSize80{
	font-size:80%;
}
.TextAlignRight{
	display:block;
	text-align:right;
}
.LineHeight150{
	line-height: 150%;
}
.ImageFloatLeft{
	float:left;
}   
.ImageFloatRight{
	float:right;
}

/* asp:TreeView */
.TreeMenu_Node {
	font-weight:normal;
}
.TreeMenu_NodeSelected {
	font-weight:normal;
	background-color:#dcdcdc;
}
A.TreeMenu_Node:link, A.TreeMenu_NodeSelected:link {
	text-decoration:    	none;
	color:#003366;
}
A.TreeMenu_Node:visited, A.TreeMenu_NodeSelected:visited {
	text-decoration:none;
	color:#003366;
}
A.TreeMenu_Node:active, A.TreeMenu_NodeSelected:active {
	text-decoration:none;
	color:#003366;
}
A.TreeMenu_Node:hover, A.TreeMenu_NodeSelected:hover {
	text-decoration:none;
	color:#ff0000;
}

/* noscript　*/
.lblNoScript{
	width:100%;
	text-align:center;
	font-size:150%;
}
/* 本文へスキップ　*/
.skip
{
	display:none;
}

img.ui-datepicker-trigger{
	margin-left:3px;
}
/* -------------------- コントロール -------------------- */

/* ヘルプ */
.Help {
	border-right:black 1px solid;
	padding-right:2px;
	border-top:black 1px solid;
	padding-left:2px;
	font-weight:normal;
	padding-bottom:2px;
	border-left:black 1px solid;
	color:black;
	padding-top:2px;
	border-bottom:black 1px solid;
	background-color:#ffff99;
}

/* テキストBOX */
.ctlDefault {
	border:1px solid #ddd;
}
.ctlTextBox_SS{
	width:30px;
}
.ctlTextArea_S{
	width:200px;
	height:100px;
}
.ctlTextArea_M{
	width:400px;
	height:100px;
}
.ctlTextArea_L{
	width:90%;
	height:200px;
}
.ctlTextArea_LL{
	width:90%;
	height:400px;
}
.ctlSelect{
}
.ctlSelectList_S{
	width:200px;
	height:150px;
}
.ctlSelectList_M{
	width:400px;
	height:200px;
}
.ctlSelectList_L{
	width:400px;
	height:400px;
}

/* -------------------- フォームボタン -------------------- */

/* フォームボタン エリア */
.submitArea {
	text-align:center;
	padding:15px 0;
}

/* フォームボタン　共通 */
.submitArea input.submitBtn {
	margin:0 10px;
	padding:6px 27px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	text-align:center;
}
.submitArea input.submitBtn_S {
	margin:0 3px;
	padding:3px 4px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	text-align:center;
}

/* 一般画面用 */
.submitArea input[type="submit"] {
	color:#333;
	background-color:#eee;
	background:-moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
	border:1px solid #ddd;
}
.submitArea input[type="submit"].notice {
	color:#fff;
	font-weight:normal;
	background-color:#666;
	background:-moz-linear-gradient(top,#888 0%,#666 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#888), color-stop(100%,#666));
	background: -webkit-linear-gradient(top,  #888 0%,#666 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #888 0%,#666 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #888 0%,#666 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #888 0%,#666 100%); /* W3C */
	border:1px solid #777;
}
.submitArea input[type="submit"]:hover{
	background:#ddd;
	cursor:pointer;
}
.submitArea input[disabled$="disabled"] {
	color:#aaa;
	background:#eee;
	border:1px solid #eee;
}
.submitArea input[disabled$="disabled"]:hover{
	background:#eee;
	cursor: auto;
}


/* 管理者画面用 */
.divSettings .submitArea input.submitBtn.notice {
	color:#fff;
	font-weight:normal;
	background-color:#e03500;
	background:-moz-linear-gradient(top,#fe6623 0%,#e03500 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe6623), color-stop(100%,#e03500));
	background: -webkit-linear-gradient(top,  #fe6623 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fe6623 0%,#e03500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fe6623 0%,#e03500 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fe6623 0%,#e03500 100%); /* W3C */
	border:1px solid #DDD;
}
.divSettings .submitArea input.submitBtn.notice:hover {
	background:#d93400;
	cursor:pointer;
}
.divSettings .submitArea input.submitBtn.notice[disabled$="disabled"] {
	color:#aaa;
	background:#eee;
	border:1px solid #eee;
}
.divSettings .submitArea input.submitBtn.notice[disabled$="disabled"]:hover{
	background:#eee;
	cursor: auto;
}

/* -------------------- Loader -------------------- */
.divLoader{
	width:100%;
	text-align: center;
}

/* -------------------- table -------------------- */
/* 共通 */
table.tableGrid{
	width:100%;
	border-collapse: collapse;
}
table.tableGrid tbody th{
	width:200px;
}
table.tableGrid th,
table.tableGrid td{
	border: 1px solid #ddd;
	padding:5px 7px;
}
table.tableGrid tbody {
	color:#333;
	vertical-align: top;
}
table.tableGrid tbody tr:nth-child(even) {
	background-color:#f1f1f1;
}
table.tableGrid tbody tr:nth-child(odd) {
	background-color:#fff;
}

/* 一般画面用 */
table.tableGrid thead th{
	color:#fff;
	background-color:#444;
	font-weight:bold;
}
table.tableGrid tbody th{
	color:White;
	background-color:#444;
	font-weight:bold;
	text-align:left;
}

/* 管理画面用 */
div.divSettings {
	padding-left:25px;
}
div.divSettings div.panel {
	margin-left:25px;
}
table.tableSettings th{
	padding:2px;
}
table.tableSettings td{
	padding:2px;
}
table.tableGrid.Settings thead th{
	color:#fff;
	background-color:#003366;
	font-weight:bold;
}
table.tableGrid.Settings tbody th{
	color:#fff;
	background-color:#003366;
	font-weight:bold;
	text-align:left;
}

.tableSettings .Head {
	font-weight:normal;
	text-align:left;
}
.tableSettings .SubHead {
	font-weight:bold;
}
.tableSettings .Normal {
}
.tableSettings .NormalTextBox 
{
	width:150px;
}
table.tableSettings {
	width:100%;
	margin-bottom:10px;
}
.tableSettings th {
	text-align:left;
	vertical-align:top;
	width:200px;
}
.tableSettings td {
}

/* -------------------- dl -------------------- */

/* 縦タイプ*/
dl.dlList_vertical {
    background-color:#eee;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    margin:5px;
}
dl.dlList_vertical:before,
dl.dlList_vertical:after {
	content:"";
	display:table;
}
dl.dlList_vertical:after {
	clear:both;
}
dl.dlList_vertical dt {
    font-weight:bold;
    float:left;
    clear: left;
    width:100px;
    background-color:#eee;
    border-top:1px solid #ddd;
    padding:5px;
}
dl.dlList_vertical dd {
    background-color:#fff;
    border-top:1px solid #ddd;
	border-left:1px solid #ddd;
    margin-left:110px;  
    padding:5px;
}

/* 横タイプ*/
dl.dlList_horizon {
	margin:0;
	padding:0;
	border-top:1px solid #ddd;
}
dl.dlList_horizon dt {
    margin:0;
    padding:0.5em;
    font-weight:bold;
    background-color:#eee;
    border-bottom:1px solid #ddd;
}
dl.dlList_horizon dd {
    margin:0;
    padding:0.5em;
    border-bottom:1px solid #ddd;
}

/* -------------------- ul -------------------- */

/* 縦タイプ*/
ul.ulList_vertical {
     margin:0 0 10px;
     padding:0;
}

ul.ulList_vertical:before,
ul.ulList_vertical:after {
	content:"";
	display:table;
}
ul.ulList_vertical:after {
	clear:both;
}
.ulList_vertical li {
	margin:0 5px 5px 0;
	float: left;
	list-style: outside none none;
}

.ulList_vertical img {
     display: inline-block;
     vertical-align: middle;
}


/* 横タイプ*/
.ulList_horizon {
     margin: 0px;
     padding: 0pt;
     width: 95%;
}

.ulList_horizon li {
     list-style-type: none;
}

.ulList_horizon a, .ulList_horizon .normal {
     display: block;
     height: 30px;
     line-height: 30px;
     margin-top: 0px;
     padding-left: 10px;
}

.ulList_horizon a:hover {
     background-color: #f0f0f0;
}

.ulList_horizon .LiLevel1 a, .ulList_horizon .normal {
     border-bottom: 1px solid #cccccc;
}

.ulList_horizon .LiLevel2 a {
     border-bottom: 1px dotted #cccccc;
     margin-left: 20px;
}

.ulList_horizon .LiLevel3 a {
     border-bottom: 1px dotted #cccccc;
     margin-left: 40px;
}

.ulList_horizon .LiLevel4 a {
     border-bottom: 1px dotted #cccccc;
     margin-left: 60px;
}

.ulList_horizon {
     padding-bottom: 0px;
     padding-top: 0px;
     vertical-align: middle;
}

.ulList_horizon .LiLevel1 {
     line-height: 160%;
     margin-left: 10px;
}


/* -------------------- ページング -------------------- */
ul.ulPaging {
	padding:15px 0 0;
}
ul.ulPaging li {
	line-height:1;
}
ul.ulPaging li a {
	padding: 0.5em 0.6em 0.45em;
	display:block;
	border: 1px solid #ddd;
	text-decoration: none;
}

ul.ulPaging li.Current {
	padding: 0.5em 0.6em 0.45em;
	background-color: #eee;
	border: 1px solid #ddd;
	font-weight: bold;
}
ul.ulPaging li:hover a {
     background:#555;
     border: 1px solid #555;
     color:#fff;
}

/* -------------------- ファイルダウンロード -------------------- */
table.Document tbody th{
	width:auto;
}

/* -------------------- フォントサイズ切替 -------------------- */
#j-font-size li.size0,
#j-font-size li.size1,
#j-font-size li.size2,
#j-font-size li.size3 { font-size:12px; display:inline-block; /display:inline; /zoom:1; padding:6px; border:1px solid #ccc; cursor:pointer; margin-left:3px; }
#j-font-size li.active { color:#fff; background-color:#c00; }

#j-font-color li.color0,
#j-font-color li.color1,
#j-font-color li.color2,
#j-font-color li.color3 { font-size:12px; display:inline-block; /display:inline; /zoom:1; padding:6px; border:1px solid #ccc; cursor:pointer; margin-left:3px; }
#j-font-color li.active { color:#fff; background-color:#c00; }

/* -------------------- Tabs -------------------- */
div.ViewTabs {
	margin-bottom:10px;
}
div.ViewTabs .ui-tabs-nav {
	margin-bottom:0;
}
div.ViewTabs .ui-tabs-nav li  {margin:0;vertical-align: bottom;float: none;display: table-cell;outline:none;}
div.ViewTabs .ui-tabs-nav li a{margin-left: 1px;padding:5px 10px;color:#333;display:block;background-color:#f1f1f1;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;outline:none;}
div.ViewTabs .ui-tabs-nav li:first-child a {margin-left: 0;}
div.ViewTabs .ui-tabs-nav li.ui-tabs-active a {
	background-color:#444;
	border-color:#444;
	color:#fff;
}
div.ViewTabs .ui-tabs-panel {
	padding:10px 15px;
	border:1px solid #ddd;
}
/* -------------------- EventCalendar -------------------- */

div.EventCalendarCmdArea
{
    display: table;
	width:100%;
}
div.WeekNextPrev, div.WeekOf, div.WeekNextPrev,
{
    display: table-cell;
	width:33%;
	text-align:center;
}
div.WeekNextPrev, div.WeekOf, div.WeekNextPrev, div.MonthToday, MonthSelectDate
{
    display: table-cell;
	text-align:center;
}

/* -------------------- PageTools -------------------- */

.PrintThisPage, .AddFavorite, .EMailThisPage, .MakeAsHomePage 
{
	font-size:85%;
	margin:0 3px;
	padding:0 4px 0 18px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	text-align:center;
	color:#333;
	background-color:#eee;
	border:1px solid #ddd;
}
li.PrintThisPage {
	background:url('../../DesktopModules/infoCMS.SocialButton/images/print.gif'), -moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:url('../../DesktopModules/infoCMS.SocialButton/images/print.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
	background:url('../../DesktopModules/infoCMS.SocialButton/images/print.gif'),  -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/print.gif'),  -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/print.gif'),  -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/print.gif'),  linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
li.AddFavorite {
	background:url('../../DesktopModules/infoCMS.SocialButton/images/favs.gif'), -moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:url('../../DesktopModules/infoCMS.SocialButton/images/favs.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
	background:url('../../DesktopModules/infoCMS.SocialButton/images/favs.gif'),  -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/favs.gif'),  -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/favs.gif'),  -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/favs.gif'),  linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
li.EMailThisPage {
	background:url('../../DesktopModules/infoCMS.SocialButton/images/mail.gif'), -moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:url('../../DesktopModules/infoCMS.SocialButton/images/mail.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
	background:url('../../DesktopModules/infoCMS.SocialButton/images/mail.gif'),  -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/mail.gif'),  -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/mail.gif'),  -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/mail.gif'),  linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 1px 1px;
}
li.MakeAsHomePage {
	background:url('../../DesktopModules/infoCMS.SocialButton/images/homepage.gif'), -moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:url('../../DesktopModules/infoCMS.SocialButton/images/homepage.gif'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee));
	background:url('../../DesktopModules/infoCMS.SocialButton/images/homepage.gif'),  -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/homepage.gif'),  -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/homepage.gif'),  -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
	background:url('../../DesktopModules/infoCMS.SocialButton/images/homepage.gif'),  linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
	background-repeat: no-repeat;
	background-position: 1px 1px;
}

/* selectタグのアクセシビリティモジュールChrome対応 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {
		-webkit-appearance: none;
		padding-right:15px;
		background:url(/Portals/_default/images/arw_select_webkit.gif) right center no-repeat #fff;
	}
	input[type="text"]:focus,
	input[type="password"]:focus,
	textarea:focus,
	select:focus 	{padding:2px 1px;outline: -webkit-focus-ring-color auto 5px;border:1px solid #26a0da;}
	textarea:focus 	{padding:inherit;}
	select:focus	{padding:0 15px 0 0;}
	div.controlPanelBody .newPanel select {padding-right:15px;}
}
	

