
@charset "Shift_JIS";

/*********************************************************************
 *
 *  marine : </common/ichinichi/css/common.css>
 *
 *********************************************************************/

/*  common
---------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}


html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 12px;
	*font-size: 78%;
	font-family: sans-serif;
	*font-family: "ＭＳ Ｐゴシック", Osaka, sans-serif;
	text-align: center;
}



a:link,
a:visited {
	color: #086cc2;
	text-decoration: none;
	outline:none;
}

a:hover,
a:active {
	color:#51a5ed;
	text-decoration:underline;
}

img {
	border: 0;
	vertical-align: bottom;
}

li{
	list-style-type: none;
}

hr {
	display: none;
}

em {
	font-weight: bold;
}

strong {
	font-weight: bold;
}

table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	font-size: 12px;
	_font-size: 100%;
	line-height: 1.5;
}

p{
	margin: 0;
	padding: 0;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/*\*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/**/


p.note {
	padding-left: 1.5em;
	text-indent: -1.4em;
	line-height: 1.3em;
	font-size: 0.9em;
}

body:first-of-type p.note {
	padding-left: 1.0em;
	text-indent: -1.0em;
}

.marT707 {
	margin-top: 7px !important;
}

.marT10 {
	margin-top: 10px !important;
}

/*  Ichinichi
---------------------------------------------------------- */

div#ichinichiContents {
	width: 741px;
	margin: 20px auto 0 auto;
	color: #000;
	text-align: left;
}

div#ichinichiContents h1,
div#ichinichiContents h2 {
	margin: 0;
}

div#ichinichiContents table {
	font-size: 113%;
}

div#ichinichiContents table.noStyle,
div#ichinichiContents table.noStyle th,
div#ichinichiContents table.noStyle td {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	font-weight: normal;
	color: #000;
}

/* qrcodeBox, smartphoneBox */

div#ichinichiContents div.qrcodeBox,
div#ichinichiContents div.smartphoneBox {
	float: left;
	width: 370px;
	margin: 20px 0 0 0;
	text-align: center;
	_display: inline;
}

div#ichinichiContents div.qrcodeBox div.action,
div#ichinichiContents div.smartphoneBox div.action {
	height: 103px;
	margin: 28px auto;
}

div#ichinichiContents div.qrcodeBox div.action {
	width: 284px;
	background: url(../img/bg_action.gif) no-repeat 50% 0;
}

div#ichinichiContents div.smartphoneBox div.action {
	width: 330px;
	background: url(../img/bg_action.gif) no-repeat 50% 0;
}

div#ichinichiContents div.qrcodeBox p.text,
div#ichinichiContents div.smartphoneBox p.text {
	float: left;
}

div#ichinichiContents div.qrcodeBox p.qrcode {
	float: left;
	padding: 10px 0 0 17px;
}

div#ichinichiContents div.smartphoneBox p.button {
	float: left;
	padding: 30px 0 0 10px;
}

div#ichinichiContents div.border {
	padding: 15px;
	border: 3px solid #009ce5;
	_zoom: 1;
}

div#ichinichiContents p.note {
	text-align: left;
	color: #000;
}

div#footerArea {
	width: 740px;
	height: auto;
	margin: 20px auto;
	text-align: left;
}

p#copyright {
	margin: 20px 0 0 0;
	color: #000;
}

/*  typeA
---------------------------------------------------------- */

div#ichinichiContents div.headerA {
	margin: 0 0 20px 0;
	border: 3px solid #009ce5;
	text-align: center;
}

div#ichinichiContents div.headerA div.qrcodeBox {
	width: 284px;
	margin: 0 20px;
}

div#ichinichiContents div.headerA div.smartphoneBox {
	width: 393px;
	margin: 0;
}

div#ichinichiContents div.headerA div.smartphoneBox div.action {
	width: 393px;
}

div#ichinichiContents div.headerA div.smartphoneBox div.action p.button {
	padding-left: 30px;
}

div#ichinichiContents div.contentsA {
	margin: 0 0 20px 0;
}

div#ichinichiContents div.contentsA h2 {
	margin: 28px 0 15px 0;
}

div#ichinichiContents div.contentsA div.indent {
	margin-left: 10px;
}

div#ichinichiContents div.contentsA div.yakudachiBox {
	margin: 15px 0 20px 0;
	overflow: hidden;
	*zoom: 1;
}

div#ichinichiContents div.contentsA div.yakudachiBoxL,
div#ichinichiContents div.contentsA div.yakudachiBoxR {
	float: left;
}

div#ichinichiContents div.contentsA div.yakudachiBox div.text {
	margin-left: 63px;
}

div#ichinichiContents div.contentsA div.tetsuduki {
	text-align: center;
}

div#ichinichiContents div.contentsA div.jizenBox {
	margin-top: 15px;
}

div#ichinichiContents div.contentsA div.jizenBox div.jizenBoxL {
	float: left;
	width: 149px;
	padding-right: 5px;
}

div#ichinichiContents div.contentsA div.jizenBox div.jizenBoxR {
	overflow: hidden;
	*zoom: 1;
}

div#ichinichiContents div.contentsA div.jizenBox div.jizenBoxR div {
	position: relative;
	float: left;
}

div#ichinichiContents div.contentsA div.jizenBox div.jizenBoxR div.step01 p.qrcode {
	position: absolute;
	right: 74px;
	top: 73px;
}

div#ichinichiContents div.contentsA div.jizenBox div.jizenBoxR div.step01 p.button {
	position: absolute;
	left: 17px;
	bottom: 15px;
}

/*  typeB
---------------------------------------------------------- */

div#ichinichiContents div.headerB {
	border-top: 3px solid #009ce5;
	background: url(../img/bg_border_middle.gif) repeat-y 0 0;
	text-align: center;
}

div#ichinichiContents div.headerB div.tetsuduki {
	background: #fff url(../img/bg_border_bottom.gif) no-repeat 0 0;
}

div#ichinichiContents div.contentsB {
	overflow: hidden;
	*zoom: 1;
}
