@charset "utf-8";

@import "/Portals/0/Skins/MST-btmu/skinsmart.css";

/* ===========================================================
 headBody
=========================================================== */
#headBody .symbolSStempPane{margin:0;padding:0;}

#headBody .NavSStempPane{margin:0;padding:0;display:none;}
#headBody .NavSStempPane .btmuNav{margin:0;width:100%;background:#fff;border-top:none;border-bottom:5px solid #e32929;box-shadow:4px 4px 4px 0 rgba(0,0,0,0.2);position:absolute;top:56px;left:0;z-index:9999;}
#headBody .NavSStempPane .btmuNav:before{display:none;}
#headBody .NavSStempPane .btmuNav > ul > li > ul > li{display:block;}
#headBody .NavSStempPane .btmuNav > ul > li > ul > li > ul{display:none;}

#headBody .SideTopSStempPane,
#headBody .SideSStempPane,
#headBody .SideBottomSStempPane{margin:0;padding:0;}

/* ===========================================================
 footBody
=========================================================== */
#footBody .FootSStempPane{margin:0;padding:15px 10px;}

