@charset "utf-8";

@import "/Portals/0/Skins/MST-btmu/skin.css";

/* ===========================================================
 headBody
=========================================================== */
#headBody .symbolSStempPane{margin:0 30px 15px 25px;padding:0;}

#headBody .NavSStempPane,
#headBody .SideTopSStempPane,
#headBody .SideSStempPane{margin:0;padding:0 30px 0 25px;}
#headBody .SideBottomSStempPane{margin:0;padding:0 4px 0 1px;}

/* ===========================================================
 footBody
=========================================================== */
#footBody .FootSStempPane{margin:0;padding:20px 0;}

