<mt:if name="is_cms">
  <input type="hidden" name="<mt:var name="field_name" escape="html">_cb_beacon" value="1" />
  <div class="custom-control custom-checkbox hint">
    <input type="checkbox" name="<mt:var name="field_name" escape="html">" value="1" id="<mt:var name="field_id">"<mt:if name="field_value"> checked="checked"</mt:if> class="custom-control-input cb" />
    <label class="custom-control-label" for="<mt:var name="field_id" escape="html">"><mt:var name="description" escape="html"></label>
  </div>
<mt:else>
  <input type="hidden" name="<mt:var name="field_name" escape="html">_cb_beacon" value="1" /><input type="checkbox" name="<mt:var name="field_name" escape="html">" value="1" id="<mt:var name="field_id">"<mt:if name="field_value"> checked="checked"</mt:if> class="cb" /> <label class="hint" for="<mt:var name="field_id" escape="html">"><mt:var name="description" escape="html"></label>
</mt:if>
