<div class="form-check form-check-inline">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" name="<mt:var name="field_type">_custom_prefs" id="custom-prefs-customfield_<mt:var name="basename">" value="customfield_<mt:var name="basename">" <mt:if name="show_field"> checked="checked"</mt:if><mt:if name="lock_field"> disabled="disabled"</mt:if> class="custom-control-input cb" />
    <label class="custom-control-label" for="custom-prefs-customfield_<mt:var name="basename" escape="html">"><mt:var name="field_label" escape="html"></label>
  </div>
</div>
